<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Edit Recipe</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
        {% for message in messages %}
        <p class = "error">{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <form action="/update" method="post" class="col-6 mx-auto">
        <h2 class="text-center">Edit Recipe!</h2>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" name="description" class="form-control">
        </div>
        <div class="form-group">
            <label for="instructions">Instructions:</label>
            <input type="text" name="instructions" class="form-control">
        </div>
        <div class="form-group">
            <label for = "date_made" class="form-label">Date Made:</label>
            <input type = "date" class="form-control" name="date_made" id ="date_made">
        </div>
        <div class="form-group">
            <p>Under 30 minutes?</p>
            <label for="yes" class="form-label">Yes</label>
            <input type="radio" name="under_30" value = 1 id="yes">
            <label for="no" class="form-label">No</label>
            <input type="radio" name="under_30" value="0" id="no">
        </div>
        <input type="hidden" name="user_id" value="{{session['user_id']}}">
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
</body>
</html>