<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Show User</title>
</head>
<body>
    <h1 class = "text-center">Welcome, {{user.id}}</h1>
    <h2>{{recipe.name}}</h2>
    <div class="container with-border white">
        <div class = "flex-container">
            <p>Description:</p>
            <p class="majority-width">{{recipe.description}}</p>
        </div>
        <div class="flex-container">
            <p>Under 30 minutes?</p>
            <p class="majority-width">
                {% if recipe.under_30 == True: %}
                    Yes
                {% else: %}
                    No
                {% endif %}
            </p>
        </div>
        <div class = "flex-container">
            <p>Instructions</p>
            <p class="majority-width">{{recipe.instructions}}</p>
        </div>
        <div class = "flex-container">
            <p>Date Made:</p>
            <p class="majority-width">{{recipe.date_made}}</p>
        </div>
        <div class="flex-container">
            <p>Made by:</p>
            <p class="majority-width">{{recipe.user.first_name}}</p>
        </div>
    </div>
<body>
</html>